
<h1>Welcome to the test api for my greyhound trust database</h1>

 <table>
     <thead>
         <tr>
             <th>Api call</th>
             <th>Paramaters</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td><a href="/api/home/test">Test api up</a></td>
             <td><a href="/api/dog/all">Get all dogs</a></td>
             <td><a href="/api/dog/add">Add a dog with a random name</a></td>
             <td><a href="/api/breed/all">Get all breeds</a></td>
             <td><a href="/api/status/all">Get all statuses</a></td>
         </tr>
     </tbody>
 </table>
